---
import { getCollection } from 'astro:content';
import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const projects = (await getCollection('work')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout title="Work">
  <div class="section container">
    <header class="wrapper">
      <div class="content">
        <Hero title="Work" align="start">
          <p class="description">
            Selected projects and experiments.
          </p>
        </Hero>
      </div>
    </header>

    <main class="wrapper">
      <Grid variant="offset">
        {projects.map((project) => (
          <li>
            <PortfolioPreview project={project} />
          </li>
        ))}
      </Grid>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>
